*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body{
  background-color: black;
  color: white;
}

.nav-ul{
  border: 0.3vi solid rgb(138, 140, 237);
  height: 2vi;
  background-color: rgb(138, 140, 237);
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  gap: 6vi;
  justify-content: center;
}
.nav-ul li{
  list-style:none;
  font-size: x-large;

}
.nav-ul li:hover{
  transform: scale(1.1); 
}
.nav-ul li a{
  text-decoration: none;
  color:white
}
.Footer{
  position: absolute;
  bottom: 0;
  background-color:rgb(138, 140, 237);
  height: 7vh;
  text-align: center;
  width: 100vw;
  color: white;
  
  font-size: 1.7vi;
}
.sign-up{
  position: absolute;
  margin-top: 5vi;
  display: flex;
  margin-left: 25vi;
  flex-direction: column;
  width: 50vw;
  height: 60vh;
  position:absolute;
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 5px rgb(138, 140, 237);
  background-color: rgb(239, 236, 236);
  
}
.sign-up h1{
  font-size: 4vi;
  color: black;
}
.sign-up input{
  height: 3vi;
  width: 22vi;
  border-radius: 0.2vi;
  margin: 0.5vi;
 
  border: 1px solid rgb(138, 140, 237);
  padding-left: 0.5vi;
  
}
.sign-up input:hover{
  transform:scale(1.09);
  border: 2px solid rgb(138, 140, 237);
}
.sign-up button{
  height: 3vi;
  width: 6vi;
  border-radius: 0.8vi;
  background-color: rgb(138, 140, 237);
  color: white;
  
  margin-top: 2vi;
}
.sign-up button:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.product{
  position: absolute;
  margin-top: 2vi;
  display: flex;
  margin-left: 15vi;
  flex-direction: row;
  gap: 2vi;
  padding: 2vi;
  width: 70vw;
  height: 30vh;
  position:absolute;
  align-items: center;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 5px rgb(138, 140, 237);
  background-color: rgb(239, 236, 236);
  
}
.product-heading{
  margin-left:45vi;
}
.product input{
  height: 3vi;
  width: 22vi;
  border-radius: 0.2vi;
  margin: 0.5vi;
 
  border: 1px solid rgb(138, 140, 237);
  padding-left: 0.5vi;
}
.product input:hover{
  transform:scale(1.09);
  border: 2px solid rgb(138, 140, 237);
}
.product button{
  height: 2.5vi;
  width: 6vi;
  border-radius: 0.2vi;
  margin-bottom: 2.2vi;
  background-color: rgb(138, 140, 237);
  color: white;
  
  margin-top: 2vi;
}
.product button:hover{
  transform: scale(1.1);
  cursor: pointer;
}